#answer-map, .answer-leaflet-map {
  height: 100%;
  min-height: 300px;
  min-width: 100%;
}

.btn-invisible {
	display: none;
}

.modal .modal-footer .btn {
	padding-right: 10px;
	padding-left: 10px;
}